# Next For T3000 ignore
/Documentation/Express
/Documentation/T3000InstallShield
/Documentation/TemcoSoftware

/T3000 Output
/T3000 Output_VS2015
# /.vs  <Need .vs in the repo for changes to the Visual Studio project files. 
**/Thumbs.db

**/Debug/
/**/.svn
*.suo

*.user

*.pdb

*.sdf

*.opensdf
**/ipch/
*.APS
**/*.bin

**/*.Opt
**/*.__i
**/*.obj
**/*.lnp
**/*.did
**/*.csdsig
**/~*
**/*.lsp
**/SpecctraWithinLayout.*
**/*.SBR
**/*.s51
**/*.r51
**/*.bom
**/*.MAP
**/*.build_log.htm
**/*.uvopt
**/*._ia
**/*.plg
**/*.jrl
**/*.dbk
**/*.tmp
**/*.bak
**/*.ls1
**/*.lis
**/*.SRC
**/*.log
**/*.DSNlck
**/*.M51
**/*.lock
**/*.SYM
**/*.err
**/*.OLBlck
**/*.MNL
**/*.MAX
/T3000.VC.db


/*.opendb
/Psychrometric Tool/T3000 Output_VS2015
/Psychrometric Tool/WFA_psychometric_chart/packages


>>>Ultraedit User interface and cache
**/*.pui
**/*.cache
