.library-container[data-v-df09e8d2]{padding:24px}.card-details[data-v-df09e8d2]{margin-top:16px;display:flex;flex-direction:column;gap:12px}.card-tags[data-v-df09e8d2]{display:flex;flex-wrap:wrap;gap:6px}
