# This workflow now builds T3000Controls and BACnetStackLibrary components

name: CI

# On master make sure both push and a pull request builds this action
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: windows-2019

    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: cmake
        run: |
          cd ${{ github.workspace }}
          mkdir build
          cd build
          cmake -A Win32 .. -DCMAKE_TOOLCHAIN_FILE="..\vcpkg-export-openssl\scripts\buildsystems\vcpkg.cmake"  

      - name: cmake-build
        run: |
          echo CMake configuration successful. Going for build...
          cd build
          cmake --build .
