<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="5.1.0" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.902.49" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.210803.1" targetFramework="native" />
</packages>